
.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

@media (orientation: landscape) and ( max-height: 600px) {
    .App {
        padding-bottom: 2rem;
    }
}