
.header-container {
    border-bottom: 1px solid silver;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.logo-container {
    margin-right: 5%;
}

.logo {
    display: inline-block;
}