
.main-container {
    border: 1px solid blue;
    width: 750px;
    height: 500px;
    border-radius: 25px;
    margin-top: 5rem;
}
.top-container {
    width: 100%;
    border-bottom: 5px solid red;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.password {
    padding-left: 1rem;
}

.reload-button {
    padding-right: 1rem;
}