
.main-container {
    border: 1px solid silver;
    width: 750px;
    height: auto;
    border-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-top: 5rem;
}
.top-container {
    width: 100%;
    min-height: auto;
    border-bottom: 5px solid red;
    background-color: silver;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.password {
    margin-left:5%;
    width: 80%;
    word-wrap: break-word;
}

.reload-button {
    margin-right:5%;
}

.reload-button:hover {
    cursor: pointer;
}

.selection-container {
    width: 100%;
    height: 100px;
    background-color: rgb(219, 216, 216);
    border-bottom: 1px solid silver;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.selection-container-left {
    margin-left:5%;
}

.selection-container-right {
    margin-right:5%;
}

.button-container {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    display: flex;
}

#length {
    width: 70%;
    border: 1px solid red;
}

.check-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 0 5%;
}

.check-container:last-child {
    margin-right:5%;
}

input[type=checkbox]:hover {
    cursor: pointer;
}

input[type=range]:hover {
    cursor: pointer;
}

button {
    background-color: #005CC8;
    border: none;
    color: white;
    padding: .5rem 1rem;
    border-radius: 10px;
}

button:hover {
    cursor: pointer;
    color: rgb(219, 216, 216);
}



