
.main-container {
    width: 750px;
    height: auto;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-top: 5rem;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, .35);
}
.top-container {
    width: 100%;
    min-height: auto;
    border-bottom: 5px solid red;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(192, 192, 192, .65);
    backdrop-filter: blur(100px);
}
.password {
    margin-left:5%;
    width: 80%;
    word-wrap: break-word;
}

.reload-button {
    margin-right:5%;
}

.reload-button:hover {
    cursor: pointer;
    filter: drop-shadow(.5px .5px 10px black);
    transition: filter 2s;
}

.selection-container {
    width: 100%;
    height: 100px;
    background-color: rgb(219, 216, 216);
    border-bottom: 1px solid silver;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.selection-container-left {
    margin-left:5%;
}

.selection-container-right {
    margin-right:5%;
}

.button-container {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    display: flex;
}

#length {
    width: 70%;
    border: 1px solid red;
}

.check-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 0 5%;
}

.check-container:last-child {
    margin-right:5%;
}

input[type=checkbox]:hover {
    cursor: pointer;
}

input[type=range]:hover {
    cursor: pointer;
}

button {
    background-color: #005CC8;
    border: none;
    color: white;
    padding: .5rem 1rem;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, .35);
}

button:hover {
    cursor: pointer;
    color: rgb(219, 216, 216);
    transition: color 2s;
    background-color: rgb(8, 49, 95);
    transition: background-color 2s;
    
}

@media only screen and (max-width: 900px){
    .main-container {
        width: 90vw;
        margin: 5rem auto 0 auto;
    }
}

@media only screen and (max-width: 725px){
    .main-container {
        margin: 5rem auto 0 auto;
    }
}

@media only screen and (max-width: 650px){
    .main-container {
        width: 90vw;
        margin: 5rem auto 0 auto;
    }
}

@media only screen and (max-width: 500px){
    .main-container {
        width: 90vw;
        margin: 1rem auto 0 auto;
        font-size: .9rem;
    }
    .password {
        font-size: 1.25rem;
    }

    #length {
        width: 50%;
    }

    svg {
        width: 18px;
        height: 18px;
    }

    .button-container {
        height: 75px;
    }
}

@media only screen and (max-width: 375px) {
    .main-container {
        width: 100vw;
        font-size: .75rem;
    }
    .password {
        font-size: .9rem;
    }
    .top-container {
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        border-bottom: 2px solid red;
    }
    .button-container {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        height: 60px;
    }

    button {
        font-size: .75rem;
        padding: .25rem .5rem;
        border-radius: 5px;
    }
}

@media (orientation: landscape) and ( max-height: 600px) {
    .main-container {
        margin-top: 1rem;
    }
}



