.slide-down-container {
    width: 100%;
    height: auto;
    background-color: rgb(219, 216, 216);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top: none;
    margin-bottom: 5rem;
    padding-top: 1rem;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, .35);
}


.close-button {
    padding-left: 5%;
}

.close-button:hover {
    cursor: pointer;
}

.input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.single-input {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 5%;
    height: 75px;
    width: 60%;
}

.single-input > input {
    margin-left: 2rem;
    background-color: transparent;
    width: 60%;
    border-top: none;
    border-left: none;
    border-right: none;
}

.single-input > label {
    width: 100px;
    font-weight: 700;
}

.single-input-password {
    margin-left: 2rem;
    max-width: 300px;
    word-wrap: break-word;
}


.copy-container {
    height: 75px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1rem;
}

.copy-button-container {
    padding-right: 5%;
}

@media only screen and (max-width: 900px){
    .slide-down-container {
        width: 90vw;
        margin: 0 auto 5rem;
    }

    .single-input {
        width: 90%;
        padding: 0;
        margin: 0 auto;
    }
    
}

@media only screen and (max-width: 500px){
    .slide-down-container {
        font-size: .9rem;
    }

    .single-input-password {
        margin-left: 2rem;
        max-width: 60%;
        height: auto;
        word-wrap: break-word;
    }

    .input-container {
        border: 1px solid silver;
        width: 95%;
        height: fit-content;
        margin: 0 auto;
        padding-bottom: 1rem;
    }

    .single-input > label {
        max-width: 60%;
    }

    .single-input > input {
        max-width: 60%;
    }

}

@media only screen and (max-width: 375px) {
    .slide-down-container {
        width: 100vw;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        font-size: .75rem;
    }
}

@media (orientation: landscape) and ( max-height: 600px) {
    .slide-down-container {
        font-size: .75rem;
    }
    .copy-container {
        padding-top: 0;
    }
}