.slide-down-container {
    width: 99.8%;
    height: auto;
    background-color: rgb(219, 216, 216);
    border: 1px solid silver;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    /* display: none; */
}


.close-button {
    padding-left: 1rem;
}

.close-button:hover {
    cursor: pointer;
}

.input-container {
    border: 1px solid blue;
    width: 100%;
}

.single-input {
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 1rem;
    height: 75px;
    width: 60%;
}

.single-input > input {
    margin-left: 2rem;
}

.single-input > label {
    border: 1px solid blue;
    width: 100px;
}

.single-input-password {
    margin-left: 2rem;
    max-width: 300px;
    word-wrap: break-word;
    border: 1px solid green;
}


.copy-container {
    height: 75px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.copy-button-container {
    padding-right: 1rem;
}

